body{margin:0;font-family:Tahoma;background:#111;color:#fff}
header{text-align:center;padding:18px;background:#000;font-size:22px}
.box{max-width:420px;margin:15px auto;padding:20px;background:#1c1c1c;border-radius:12px}
input,button{width:100%;padding:12px;margin:10px 0;border:none;border-radius:8px}
button{background:#c89b3c;font-weight:bold;cursor:pointer}
.hidden{display:none}


#slots button{
margin:5px 0;
background:#2a2a2a;
color:#fff;
}


#slots button.booked{
background:#550000;
text-decoration:line-through;
}


#calendar{
background:#0c0c0c;
padding:10px;
border-radius:8px;
}


@media(max-width:600px){.box{margin:10px}}